<!DOCTYPE html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>       
   </head>
   <body ng-app="myApp" ng-controller="MainController" ng-init="searchTerms='Middle'">
      <div class="searchBox" align="center">
        <h2>Buscador de Musica</h2>
        <input ng-model="searchTerms" />
        <button ng-click="search()">Buscar</button>
      </div>
      
      <br><br>

      <div id="results" align="center">

        <table>
          <tr ng-repeat="res in results">
            <td ng-click="play( res.previewUrl )">
              <img src="http://image005.flaticon.com/26/svg/26/26025.svg" height="40px" width="40px">
            </td>
            <td><img src="{{res.artworkUrl100}}"></td>
            <td>
              <strong>Cancion: </strong> {{res.trackName}} <br>
              <strong>Artista: </strong> {{res.artistName}} <br>
              <strong>Album: </strong> {{res.collectionName}}
            </td>
          </tr>
        </table>
      </div>

      <audio id="sample" autoplay />

      <script>
        var ITUNES_SEARCH_URL = 'https://itunes.apple.com/search?term=<<SEARCH_TERMS>>&media=music&entity=musicTrack&callback=JSON_CALLBACK';

        var app = angular.module("myApp", []);

        app.controller('MainController', ['$scope', '$http', function($scope, $http){
        	$scope.currentSearch = '';

        	$scope.search = function() {
        		$scope.currentSearch = $scope.searchTerms;

        		var xhr = $http.jsonp(ITUNES_SEARCH_URL.replace("<<SEARCH_TERMS>>", $scope.searchTerms));
        		xhr.success( function(response) {
        		   $scope.results = response.results; 
        		} );
        	};

        	$scope.play = function(url) {
        		var audio = document.getElementById('sample');
        		audio.setAttribute("src", url);
        	};
        }]);
      </script>
   </body>
</html>






